@font-face {
    font-family: 'Minino_font';
    src:url('Minino_font-Regular.svg#Minino_font-Regular') format('svg'),
        url('Minino_font-Regular.woff2') format('woff2'),
        url('Minino_font-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dk_uncle_edwardregular';
    src: url('dk_uncle_edward-webfont.woff2') format('woff2'),
         url('dk_uncle_edward-webfont.woff') format('woff'),
         url('dk_uncle_edward-webfont.svg#dk_uncle_edwardregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat-Black';
        src: url('Montserrat-Black.otf') format('otf'),
        url('Montserrat-Black.ttf') format('ttf'),
        url('Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
